/.vs/
/Bin/
/Projects/*/Debug/
/Projects/*/Debug(Profile)/
/Projects/*/Release/
/Projects/*/Debug Global/
/Projects/*/Release Global/
/Projects/*/Release_GM/
/Tools/*/Debug/
/Tools/*/Debug(Profile)/
/Tools/*/Release/
/Tools/*/Debug Global/
/Tools/*/Release Global/
/Tools/*/Release_GM/
/Release/
/Debug/
*.vcxproj.user
/Debug/XtreamToolKit
Ag*.lib
Ap*.lib
AsNetwork*.lib
HanGame*.lib
/Include/*.h
*.ncb
*.suo